<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Test Suite" thread-count="2" parallel="tests">

	<listeners>
		<listener class-name="com.qa.ExtentReportListner.ExtentReporterNG" />
	</listeners>


	<test name="ExtentReportTrial">
		<classes>
			<class name="FreeCRMTestSinglton.FreeCRMTestClass"></class>
		</classes>
	</test>
</suite>

